body,html{
    margin: 0 ;
    padding: 0;
    width: 100%;
    height: 100%;
}

.swiper-container{
    width: 100%;
    height: 800px;
}

.swiper-slide>img{
    min-width: 100%;
}

.mdc-top-app-bar{
    background-color: #505059!important;
}

.mdc-top-app-bar__title > img{
    max-width: 49px;
    max-height: 49px;
}